*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}


.wrap{
    width: 100%;
    height: 100%;
}

.wrap .left{
    width: 120px;
    float: left;
    /* padding-left: 10px; */
}


.left,.left ul{
    height: 100%;
    background: #333;
}
.left ul >li{
    color: #fff;
    border-bottom:1px solid #ccc;
    line-height: 36px;
}

.left ul li ol{
    background: #666;
    text-indent: 2rem;
}
.left ul li ol li.active{
    color: tomato;
}
.left ol{
    display: none;
}

.right{
    float: left;
}


.right .title{
    background: #ccc;
}

.right .title span{
    padding: 6px 12px;
    color: #fff;
    border-right: 1px solid #ccc;
}

.left b{
    display: inline-block;
}


.right .title span.active{
    color: red;
}