*{
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
}

b{
    display: inline-block;
}
.wrap{
    width: 1000px;
    margin: auto;
}


.header{
    height: 100px;
    background-color: skyblue;
}


.nav-bar{
    height: 36px;
    /* 粘性定位 */
    position: sticky;
    /* 距离顶部多少的时候吸顶 */
     top: 0;  

}

.nav-bar ul,.nav-bar ol {
    width: 100%;
    height: 100%;
    background: tomato;
}

.nav-bar ul li,.nav-bar ol li{
    line-height: 36px;
    display: inline-block;
    position: relative;
}

.nav-bar ol{
    display: none;
}

.floor{
    width: 100%;
}

.floor ul li{
    height: 600px;
    background: hotpink;
    color: #fff;
    line-height: 600px;
    text-align: center;
    font-size: 80px;
}

.floor ul li:nth-child(even){
    height: 600px;
    background: rgb(47, 148, 101);
}


.fixed{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
}

.fixed ul li{
    padding: 6px 12px ;
    border: 1px solid #ccc;
}

.fixed ul li.active{
   background: skyblue;
   color: #fff;
}