*{
    margin: 0;
    padding: 0;
    list-style: none;
}


ul{
    margin: auto;
    width: 500px;
}

ul li{
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    background: #333;
    float: left;
    position: relative;
}

ul li>ol{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}

ul li ol li ol{
    position: absolute;
    left: 100%;
    top: 0;
}
/* 
ul>li:hover>ol{
    display: block;
}

ul li ol li:hover ol{
    display: block;
} */